@font-face {
    font-family: "ggooreogi";
    font-weight: normal;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/wefonts/ggooreogi/ggooreogi.eot");
    src: url("https://cdn.jsdelivr.net/gh/wefonts/ggooreogi/ggooreogi.eot?#iefix") format("embedded-opentype"),
         url("https://cdn.jsdelivr.net/gh/wefonts/ggooreogi/ggooreogi.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/wefonts/ggooreogi/ggooreogi.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/wefonts/ggooreogi/ggooreogi.ttf") format("truetype");
    font-display: swap;
} 
.ggooreogi {
    font-family: "ggooreogi";
}
